* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
    height: 100%;
}
.hater{
    
   
  
  
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url('../IMG/hatter.jpg'); 
    background-size: cover;
    
    background-size: cover;
    color: #2c1e14; 
    align-items: center;
    padding-top: 100px; 
}

nav {
    position: fixed;
    top: 0; 
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 15px 50px;
    background: rgba(44, 30, 20, 0.98); 
    z-index: 9999;
    border-bottom: 2px solid #d4af37;
    height: 72px;
    
}

.logo { 
    color: #d4af37; 
    font-size: 28px; 
    font-weight: bold; 
    letter-spacing: 3px; 
}

.nav-links { 
    display: flex; 
    list-style: none; 
    gap: 40px;
}
.sub-btn {
margin-left: 25%;
  height: 50px;
  width: 160px; 
  border-radius: 10px; 
  margin-bottom: 5px;
  font-size: 20px;
  cursor: pointer;
  
  
  background: rgba(241, 196, 15, 0.1); 
  color: #f1c40f; 
  border: 2px solid #f1c40f;
  font-family: 'Lucida Sans', sans-serif;
  transition: all 0.3s ease; 
}

.sub-btn:hover {
  background: #f1c40f; 
  color: #000; 
  box-shadow: 0 0 15px rgba(241, 196, 15, 0.5);
}

.nav-links a { 
    color: #fdf5e6; 
    text-decoration: none; 
    font-size: 26px; 
    font-weight: bold;
    transition: 0.3s; 
    display: block; 
    padding: 5px 10px;
    margin-bottom: 10px;
}

.nav-links a:hover { 
    color: #d4af37; 
    transform: scale(1.1); 
}
button:hover{
    background-color: #d4af37;
    color: #fdf5e6;
    transform: scale(1.3);
    transition: 0.6s;
    cursor: pointer;
}


.hero-section {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../IMG/hatter.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  font-family: 'sans-serif';
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: #f1c40f;
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
 
}
.glass-card {
  
  background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px; 
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}



.glass-card p {
  line-height: 1.6;
  font-size: 1.4rem;
 color: #f1c40f;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  
  padding-bottom: 20px;
  
}



@media (min-width:768px){
    body{
        font-size: 24px;
    }
    .tortenet{
        margin: auto;
    }
    .nyitvatart{
        margin: 30px auto;   
        width: fit-content;  
        padding: 20px 60px;  
        border-radius: 10px;
        border: 5px black solid;
        
    }
    .nyitvatart p, li{
        text-align: center;
        margin-top: 10px;
        list-style: none;    
        
    }
    
    
    
}