* { margin: 0; padding: 0; box-sizing: border-box; }
body {
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-color:#d4af37; color: #2c1e14; padding-top: 80px; scroll-behavior: smooth; }

html{
    scroll-behavior: smooth;
    height: 100%;
}



.logo { color: #d4af37; font-size: 24px; font-weight: bold; letter-spacing: 3px; }

nav {
    position: fixed;
    top: 0; width: 100%;
    display: flex; justify-content: space-between; align-items: center;
    padding: 20px 50px;
    background: rgba(44, 30, 20, 0.95); /* Áttetsző sötétbarna */
    z-index: 1000;
    border-bottom: 2px solid #d4af37;
}

.logo { color: #d4af37; font-size: 24px; font-weight: bold; letter-spacing: 3px; }

.nav-links { display: flex; list-style: none; gap: 30px; }
.nav-links a { color: #fdf5e6; text-decoration: none; font-size: 20px; transition: 0.3s; }
.nav-links a:hover { color: #d4af37; }

img{
    border: 5px solid;
    height: 200px;
    margin-top: 70px;
}
p,h1{
    font-size: 38px;
    margin-left: 50px;
}

.terkep{
    text-align: center;
    
   
}
.kollega{
    text-align: center;
}
.kepek{
    height: 400px;
    width: 300px;
    
    
    text-align: center; 
}
.munkatarsak-kontener {
    display: flex;            
    justify-content: center;  
    gap: 20px;               
    flex-wrap: wrap;          
    background-color: #d4ac2b; 
    padding: 20px;
}

.munkatars {
    text-align: center;  
        
}
.munkatars p {
    font-size: 39px;
    border-top: 10px;
    text-align: center;
    font-size: 26px;
    width: 500px;
}

.munkatars img {
    height: 370px;
    width: 400px;             
    border: 2px solid black;  
}